#navbarContainer {
    background-color: rgba(247, 247, 247, 0.21);
}

#cartIcon {
    font-size: 38px;
    margin-bottom: -10px;
}

#contador {
    font-size: 28px;
    text-decoration: none;
}

#LinkCartWidget {
    text-decoration: none;
    color: white;
}

#contadorBox {
    background-color: rgba(211, 211, 211, 0.474);
    border-radius: 5px;
    padding: 5px;
}

#navLinks {
    display: flex;
    justify-content: space-between;
    margin-left: 24rem;
}

#Links {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
}

#Links:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.475);
}
